.menuwrap {
    width:  1024px;
    margin:  0 auto;
    text-align:  center;
    clear:  both;
}

.ui-menubar {
    padding: .6em;
}

.ui-menuitem.ui-widget.ui-corner-all {
/*    border-right: 1px solid white;*/
    border-radius: 0;
    margin-right: .5em;
}

.ui-menuitem.ui-widget.ui-corner-all:nth-last-child(2), 
.ui-menuitem.ui-widget.ui-corner-all:last-child {
    border: none;
}

ul.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow, 
.ui-menubar {
    background: #366b82;
}

.menu.ui-widget-content a {
    color: #fff;
}

.ui-menuitem-icon.ui-icon {
    margin-right: .5em;

}

.menu.ui-menubar .ui-menuitem-icon.ui-icon {
    background-image: url("../imagenes/aristo/ui-icons_ffffff_256x240.png");
}